<h1>To do List</h1>
<ol id = "tasks">
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, {action: :show, id:  task.id} %>
      <%= link_to "Edit", {action: :edit, id: task.id} %>
      <%= link_to "Delete",  {action: :destroy, id: task.id}, method: :delete, data: {confirm: 'Are you sure?' } %>
      <%= link_to task.completed_at.nil? ? "Mark Complete": "Mark Incomplete", {action: :toggle_complete, id: task.id}, method: :patch %>
    </li>/
<% end %>
</ol>
<p><%= link_to "Add a new task", {action: :new }%></p>

