<h1>Task information</h1>
<p>
  <strong> Name: </strong><%= @task.name %> <br />
  <strong>Created Date: </strong> <%= @task.created_at %><br />
  <strong>Completed: </strong> <%= @task.completed_at %><br />
</p>

<p>Description: <%= @task.description %></p>
<hr />

<%= link_to 'Back', {action: :index} %>

